.plugin_caption_figure {
    width: fit-content;
}

.plugin_caption_subfigure,
.plugin_caption_subtable {
    padding: 4px;
}

.plugin_caption_caption {
    clear: both;
    width: 100%;
}

.plugin_caption_flex,
.plugin_caption_flexleft,
.plugin_caption_flexright,
.plugin_caption_flexcenter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.plugin_caption_flexcenter {
    clear: both;
    margin: .2em auto;
}

.plugin_caption_flexright {
    float: right;
}

.plugin_caption_flexleft {
    float: left;
}

.plugin_caption_center {
    display: block;
    margin: .2em auto;
}

.plugin_caption_right {
    float: right;
    margin: .2em 0 .2em 1em;
}

.plugin_caption_left {
    float: left;
    margin: .2em 1em .2em 0;
}


div.plugin_caption_table {
    
}

div.plugin_caption_caption, figcaption.plugin_caption_caption {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.9em;
}

span.plugin_caption_caption_number {
    font-weight: bold;
}

span.plugin_caption_caption_text {}

div.picker.captionpicker {
    width: auto;
}
